@import "bootstrap/bootstrap.scss";

/* app css stylesheet */

$sub-header-height: 44px;
$header-height: 56px;

$nav-panel-bg-color: #F5F5F5;

// Header styles

#admin-header {
  padding: 10px;
  background-image: linear-gradient(to bottom,#f3f3f3,#e2e2e2);
  background-color: #f3f3f3;
  border-bottom: 1px solid grey;
  height: $header-height;
  
  #logo img {
    width: 140px;
  }
}

#nav-panel {

  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: $header-height;
  background-color: $nav-panel-bg-color;
  border-right: 1px solid grey;
  
  .panel {
    border-radius: 0;
    border-right: none;
    border-collapse: collapse;
    
    & + .panel {
      margin-top: 0;
    }
  }
  
  .user-panel {
    height: $sub-header-height;
    background-color: $nav-panel-bg-color;
  }
}

#main-panel {
  margin-left: 330px;
}