@import "bootstrap/bootstrap.scss";

/* app css stylesheet */

$sub-header-height: 44px;
$header-height: 56px;

$nav-panel-width: 300px;

$nav-panel-bg-color: #F5F5F5;

// Header styles

#admin-header {
  padding: 10px;
  background-image: linear-gradient(to bottom,#f3f3f3,#e2e2e2);
  background-color: #f3f3f3;
  border-bottom: 1px solid grey;
  height: $header-height;
  
  #logo img {
    width: 140px;
  }
}

#nav-panel {

  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 0;
  min-height: 100%;
  margin-top: $header-height;
  background-color: $nav-panel-bg-color;
  border-right: 1px solid grey;
  width: $nav-panel-width;
  
  .panel {
    border-radius: 0;
    border-right: none;
    border-collapse: collapse;
    
    ul {
      margin-bottom: 0;
      
      li {
        font-size: 16px;
        line-height: 30px;
      }
    }
    
    & + .panel {
      margin-top: 0;
    }
  }
  
  .user-section {
    height: $sub-header-height;
    background-color: $nav-panel-bg-color;
    
    border-bottom: 1px solid grey;
  }
}

#main-panel {
  margin-left: $nav-panel-width;
  padding: 0;
  
  .breadcrumb-section {
    height: $sub-header-height;
    background-color: $nav-panel-bg-color;
    
    border-bottom: 1px solid grey;
  }
  
  .main-section {
    padding: 0 20px;
  }
  
}