.user-id-select {
  width: 300px;
}


#ci-list-uploader, #ci-list-downloader {
  
  h3 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid grey;
    margin-left: 80px;
    margin-right: 80px;
  }
}

#ci-list-uploader {
  margin-top: 40px;
  
  .upload-form {
    margin-top: 40px !important;
  }
  
  #upload-input, #file-info {
    display: inline-block;
  }
  
  // The input section is the file drop and file selector
  #upload-input {
    vertical-align: top;
    text-align: center;
    padding: 20px;
    background-color: #F4F4F4;
    border: 5px solid #C4C4C4;
    margin-right: 20px;
    
    .file-input-wrapper {
      display: inline-block;
      text-align: center;
      width: 80px;
      overflow: hidden;
      padding-left: 2px;
    }
    
    .file-input-text {
      margin: 10px auto;
    }
    
    .file-drop {
      border: 3px dashed grey;
      height: 100px;
      width: 200px;
      line-height: 100px;
      font-size: 18px;
      text-align: center;
      background-color: white;
      
      &.file-hover {
        border: 3px dashed green !important;
      }
    }
  }
  
  //File info is the table that displays the name/size of the file
  #file-info {
    min-height: 70px;
    
    #upload-file-table {
      margin-bottom: 0;
      td, th {
        width: 250px;
      }
      
      th {
        font-size: 18px;
        padding-top: 0;
      }
      
      td {
        font-size: 16px;
      }
    }
  }
  
  // Styling for all the radio buttons and action buttons goes here
  #file-controls {
    .file-control-radio {
      font-size: 16px;
      margin-bottom: 2px;
      
      label {
        font-weight: normal;
      }
      
      input[type=radio] {
        vertical-align: middle;
        margin-top: 0;
      }
    }
    
    #buttons {
      margin-top: 20px;
    }
  }
  
}

// Styling for the upload info messages
#upload-message {
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 20px;

  &.ng-hide {
    height: 0;
    opacity: 0;
    margin-bottom: 0;
  }
  
  &.message-alert {
    border: 3px dashed red;
    color: #DA0000;
    text-align: center;
    background-color: #FFCFCF;
  }
}


