<uploadStatus></uploadStatus>
<h3> Custom Insert List Management </h3>

<section id='ci-list-uploader' uploader='uploader'>
  <h3> List Uploader </h3>
  
  <div id='upload-message' ng-show='message' ng-class="{ 'message-alert' : messageType === 'alert', 'message-success' : messageType === 'success'}">
    {{message}}
  </div>
  
  <form name='upload' class='upload-form'>
    <div id='upload-input'>
      <div class='file-input-wrapper'>
        <input id='file-input' type="file" nv-file-select uploader='uploader' ng-disabled='uploader.queue.length >= uploader.queueLimit'>
      </div>
      <div class='file-input-text'>Or</div>
      <div class='file-drop' over-class='file-hover' nv-file-drop uploader="uploader">Drop Files Here</div>
    </div>
    
    <div id='file-info'>
      <div id='file-info'>
        <table id='upload-file-table' class="table">
          <thead>
              <tr>
                  <th width="50%">File Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
              </tr>
          </tbody>
        </table>
      </div>
      
      <div id='progress'>
        <div> Upload Progress: </div>
        <progressbar ng-class="{'progress-striped active': uploader.progress !== 100}" max="100" value="uploader.progress"></progressbar>
      </div>
      
      <div id='file-controls'>
        <div class='file-control-radio'><input id='radio-ae' type='radio' ng-model="params.type" value="ae"> <label for='radio-ae'> Remove from Existing </label></div>
        <div class='file-control-radio'><input id='radio-re' type='radio' ng-model="params.type" value="re"> <label for='radio-re'> Overwrite Selected Keywords </label></div>
        <div class='file-control-radio'><input id='radio-os' type='radio' ng-model="params.type" value="os"> <label for='radio-os'> Add to Existing </label></div>
        <div class='file-control-radio'><input id='radio-ow' type='radio' ng-model="params.type" value="ow"> <label for='radio-ow'> Overwrite Whole List </label></div>
        
        <div id='buttons'>
          <button class='btn btn-primary' ng-click='uploader.queue[0].upload()'> Upload </button>
          <button class='btn btn-danger' ng-click='clearFile()'> Clear </button>
        </div>
      </div>
    </div>
  </form>
</section>

<section id='ci-list-downloader'>
  <h3> List Downloader </h3>
  <form name='download' class='download-form'>
    <div class='download-ids-input'>
      <ui-select class='user-id-select' multiple tagging='taggedId' tagging-tokens=",|SPACE|ENTER|," theme='bootstrap' ng-model='download.ids'>
        <ui-select-match placeholder='Select User Ids'>
          {{$item}}
        </ui-select-match>
        <ui-select-choices repeat='user in []'>
          {{user}}
        </ui-select-choices>
      </ui-select>
    
      <div id='download-buttons'>
        <button class='btn btn-primary'>Submit</button>
        <button class='btn btn-danger' ng-click='clearIds()'>Clear</button>
      </div>
    </div>
    <div class='download-instructions'>
      <p>To input IDs, manually type in the id, then hit space, enter, or comma.</p>
      <p>For copy/paste functionality, enter a comma-separated list of ids</p>
  </form>
</section>

